---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
}

const { title = 'MADANG.COM - Penjelajah Kuliner Yogyakarta' } = Astro.props;
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

      body {
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <Navbar />
    <slot />
    <Footer />
    <script>
      import Alpine from 'alpinejs'
      Alpine.start()
    </script>
  </body>
</html>
